  html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
  }
  body #ink {
      color: #ff4081 !important;

  }
  a {
    color: #333;
  }
  core-header-panel {
    height: 99%;
  }
  core-toolbar {
    background: #1a1c25;
    color: white;
  }
  paper-tabs {
    width: 100%;
  }
  .container {
    width: 80%;
    margin: 50px auto;
  }
  .logo {
    background-image: url("../img/logos/umbrella-icon-withname.png");
    background-size: 186px 70px;
    background-repeat: no-repeat;
    width : 120px;
    height: 70px;
    display: block;
  }
  @media (min-width: 600px) {
    paper-tabs {
      width: 400px;
    }
    .container {
      width: 80%;
    }
    .logo {
      width: 186px;
    }
  }
  .info-btn {
    background: #fff000;
  }

  .get-kit-arrow {
    margin-bottom: 10px;
  }

  /* instagram */
  .instagram {
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
  }
  .instagram-placeholder {
    float: left;
    margin-right: 5px;
  }